<!-- loader -->
<!-- <div id="loader">
    <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
</div> -->
<!-- * loader -->

<!-- App Header -->
<div class="appHeader no-border transparent position-absolute">
  <div class="left">
    <a href="javascript:;" class="headerButton goBack">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <!-- <span class="iconify" data-icon="ion-chevron-back-circle-outline" data-inline="false"></span> -->
    </a>
  </div>
  <div class="pageTitle"></div>
  <div class="right">
  </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">

  <div class="section mt-2 text-center">
    <h1>Log in</h1>
    <h4>Fill the form to log in</h4>
  </div>
  <div class="section mb-5 p-2">

    <form (ngSubmit)="login()">
      <div class="card">
        <div class="card-body pb-1">
          <div class="form-group basic">
            <div class="input-wrapper">
              <label class="label" for="email1">E-mail</label>
              <input type="email" [(ngModel)]="email" class="form-control" id="email1" placeholder="Your e-mail">
              <i class="clear-input">
                <ion-icon name="close-circle"></ion-icon>
              </i>
            </div>
          </div>

          <div class="form-group basic">
            <div class="input-wrapper">
              <label class="label" for="password1">Password</label>
              <input type="password" [(ngModel)]="password" class="form-control" id="password1" autocomplete="off"
                     placeholder="Your password">
              <i class="clear-input">
                <ion-icon name="close-circle"></ion-icon>
              </i>
            </div>
          </div>
        </div>
      </div>


      <div class="form-links mt-2">
        <div>
          <a routerLink="register" href="app-register.html">Register Now</a>
        </div>
        <div><a routerLink="forgot-password" href="app-forgot-password.html" class="text-muted">Forgot Password?</a>
        </div>
      </div>

      <div class="form-button-group  transparent">
        <button routerLink="homepage" type="submit" class="btn btn-primary btn-block btn-lg">Log in</button>
      </div>
    </form>
  </div>

</div>
