<!-- loader -->
<!-- <div id="loader">
    <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
</div> -->
<!-- * loader -->

<!-- App Header -->
<div class="appHeader no-border">
    <div class="left">
        <!--<a href="#" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>-->
    </div>
    <div class="pageTitle">
        QR Code Verification
    </div>
    <div class="right">
        <a href="#" class="headerButton" data-bs-toggle="modal" data-bs-target="#DialogBasic">Help</a>
    </div>
</div>
<!-- * App Header -->

<!-- Dialog Basic -->

<!-- * Dialog Basic -->

<!-- App Capsule -->
<div id="appCapsule">

    <div class="section">
        <div class="splash-page mt-5 mb-5">
            <div class="mb-3">
                <img src="assets/img/newQR.png" alt="QR Code" class="imaged square w140">
            </div>
            <h2 class="mb-2">Scan the QR Code</h2>
        
        </div>
    </div>

    <div class="fixed-bar">
        <div class="row">
            <div class="col-12">
                <a routerLink="/login" class="btn btn-lg btn-outline-secondary btn-block">Continue on web</a>
            </div>
        </div>
    </div>

</div>

