
<mat-drawer-container class="example-container h-100" >
  <mat-drawer #drawer class="example-sidenav h-100" mode="over">
    <div class="modal-body p-0">
      <!-- profile box -->
      <div class="profileBox pt-2 pb-2">
        <div class="image-wrapper">
          <img src="assets/img/sample/avatar/avatar2.jpeg" alt="image" class="imaged  w36">
        </div>
        <div class="in">
          <strong>Siddharth</strong>
          <div class="text-muted">4029209</div>
        </div>
        <button (click)="drawer.toggle()"  class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>
      <!-- * profile box -->
      <!-- balance -->
      <div class="sidebar-balance">
        <div class="listview-title">Balance</div>
        <div class="in">
          <h1 class="amount">$ 2,562.50</h1>
        </div>
      </div>
      <!-- * balance -->

      <!-- action group -->
      <div class="action-group">
        <a href="index.html" class="action-button">
          <div class="in">
            <div class="iconbox">
              <ion-icon name="add-outline"></ion-icon>
            </div>
            Deposit
          </div>
        </a>
        <a href="index.html" class="action-button">
          <div class="in">
            <div class="iconbox">

              <ion-icon name="arrow-down-outline"></ion-icon>
            </div>
            Withdraw
          </div>
        </a>
        <a href="index.html" class="action-button">
          <div class="in">
            <div class="iconbox">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>
            Send
          </div>
        </a>
        <a routerLink="cards" href="app-cards.html" class="action-button">
          <div class="in">
            <div class="iconbox">
              <ion-icon name="card-outline"></ion-icon>
            </div>
            My Cards
          </div>
        </a>
      </div>
      <!-- * action group -->

      <!-- menu -->
      <div class="listview-title mt-1">Menu</div>
      <ul class="listview flush transparent no-line image-listview">
        <li>
          <a href="index.html" class="item">
            <div class="icon-box bg-primary">
              <ion-icon name="pie-chart-outline"></ion-icon>
            </div>
            <div class="in">
              Overview
              <span class="badge badge-primary">10</span>
            </div>
          </a>
        </li>
        <li>
          <a href="app-pages.html" class="item">
            <div class="icon-box bg-primary">
              <ion-icon name="document-text-outline"></ion-icon>
            </div>
            <div class="in">
              Pages
            </div>
          </a>
        </li>
        <li>
          <a href="app-components.html" class="item">
            <div class="icon-box bg-primary">
              <ion-icon name="apps-outline"></ion-icon>
            </div>
            <div class="in">
              Components
            </div>
          </a>
        </li>
        <li>
          <a href="app-cards.html" class="item">
            <div class="icon-box bg-primary">
              <ion-icon name="card-outline"></ion-icon>
            </div>
            <div class="in">
              My Cards
            </div>
          </a>
        </li>
      </ul>
      <!-- * menu -->

      <!-- others -->
      <div class="listview-title mt-1">Others</div>
      <ul class="listview flush transparent no-line image-listview">
        <li>
          <a href="app-settings.html" class="item">
            <div class="icon-box bg-primary">
              <ion-icon name="settings-outline"></ion-icon>
            </div>
            <div class="in">
              Settings
            </div>
          </a>
        </li>
        <li>
          <a href="component-messages.html" class="item">
            <div class="icon-box bg-primary">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </div>
            <div class="in">
              Support
            </div>
          </a>
        </li>
        <li>
          <a href="app-login.html" class="item">
            <div class="icon-box bg-primary">
              <ion-icon name="log-out-outline"></ion-icon>
            </div>
            <div class="in">
              Log out
            </div>
          </a>
        </li>


      </ul>
      <!-- * others -->

      <!-- send money -->
      <div class="listview-title mt-1">Send Money</div>
      <ul class="listview image-listview flush transparent no-line">
        <li>
          <a href="#" class="item">
            <img src="assets/img/sample/avatar/avatar3.jpeg" alt="image" class="image">
            <div class="in">
              <div>Rohan</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item">
            <img src="assets/img/sample/avatar/avatar4.jpeg" alt="image" class="image">
            <div class="in">
              <div>Shraddha</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item">
            <img src="assets/img/sample/avatar/avatar5.jpeg" alt="image" class="image">
            <div class="in">
              <div>Trupti</div>
            </div>
          </a>
        </li>
      </ul>
      <!-- * send money -->

    </div>
  </mat-drawer>

  <div class="example-sidenav-content h-100">
    <div class="appHeader bg-primary h-100 text-light">
      <div class="left">
        <button  mat-button (click)="drawer.toggle()" class="headerButton" >
          <ion-icon name="menu-outline"></ion-icon>
        </button>
      </div>
      <div class="pageTitle">
        <img src="../assets/img/logo.png" alt="logo" class="logo">
      </div>
      <div class="right">
        <a href="app-notifications.html" class="headerButton">
          <ion-icon class="icon" name="notifications-outline"></ion-icon>
          <span class="badge badge-danger">0</span>
        </a>
        <a routerLink="/settings"  class="headerButton">
          <img src="/assets/img/sample/avatar/avatar2.jpeg" alt="image" class="imaged w32">
          <span class="badge badge-danger">0</span>
        </a>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
